@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

    *
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

/* <!--NAVIGATION CONTAINER START--> */

.nav-container .navbar-brand .kathys-text 
{
    font-family: 'josefin sans';
    text-transform: uppercase;
    color: #FF0D80;
}

.nav-container .bw-text
{
    font-family: 'josefin sans';
    text-transform: uppercase;
    color: #8B2696;
    font-weight: 1000;
    letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link
{
    text-transform: uppercase;
    font-family: 'poppins';
    font-weight: 1000;
    color: #797979;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #FF0D80;
}

.nav-link
{
    position: relative;
}

.nav-link::after
{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 25%;
    background-color: #8B2696;
}

.nav-link::after
{
    transform: scale(0,1);
    transform-origin: 0 100%;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after
{
    transform: scale(1,1);
}

/* <!--NAVIGATION CONTAINER END--> */

/* <!--Header caption--> */

.caption-header
{
    display: flex;
    align-items: center;
    background-color: #797979;
    height: 20vh;
}

.caption-header .container
{
    display: flex;
    justify-content: center;
    color: #fff;
}

.caption-header .container .caption-details
{
    text-transform: uppercase;
    letter-spacing: 0.5rem;

}

/* <!--Header caption--> */

/* <!--Home container-1 Start--> */

.carousel-container
{
    background-image: url(../photos/magenta-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.caption-container h3
{
    font-family: 'josefin sans';
    font-weight: 600;
    color: #FF0D80;
    font-size: 4rem;
    margin-bottom: 0;
}

.caption-container p
{
    color: #8B2696;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.caption-container span
{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #666262;
}

.carousel-item
{
    border-radius: 10%;
    overflow: hidden;
}

/* <!--Home container-1 Start--> */

/* <!--About content start--> */

.about-container
{
    margin: 20px 0;
}

.our-story
{
    margin-top: 10vh;
}

.our-story p
{
    margin-top: 40px;
    color: #434343;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
}

/* <!--About content end--> */

/* <!--Services start--> */

.services-container
{
    margin-top: 10px;
}

.services-container .service-title
{
    text-transform: uppercase;
    color:#8B2696;
}

.prices
{
    font-size: 1rem;
    color: #797979;
}

/* <!--Services end--> */

/* <!--Contact start--> */

.contact-container
{
    margin-top: 50px;
}

.contact-container h4
{
    color: #434343;
}

.contact-container h4 span
{
    color: #434343;
    font-weight: 350;
}

.contact-container p
{
    color: #434343;
    font-size: 18px;
}

.contact-container .row .contact-details
{
    border: 1px solid black;
    height: 30vh;
}

.map-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-transform: uppercase;
    color: #797979;
}

/* <!--Contact end--> */

/* <!--Footer start--> */

.footer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    justify-content: space-evenly;
    background-color: #fff3ff;
}

.footer-container .icons-container .social-media-icons
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 25px;
    width: 20rem;
}

.footer-container .icons-container .social-media-icons li a
{
    color: #797979;
}

.footer-container .icons-container .social-media-icons li a:hover
{
    color:#FF0D80;
}

.footer-container .copyright
{
    width: 20rem;
    color: #797979;
}

/* <!--Footer end--> */